.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Bangers", system-ui;
    background-color: #6F4E37;
    margin: 0 auto;  
    padding: 0 auto;
    border: solid black 1px;
}  

header {

    width: 100%;
    height: 30vh;
    background-color: #4e376f;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border: solid black 1px;
}

.logo {
    
    height: auto;
   
    border: solid white 1px;

}

.logo img {
    height: 100%;
    width: auto;
}
.titre {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;  
    border: solid black 1px;
    
}

h1 {
    color: #808080;
    font-size: 4rem;
}

.menu {
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 3rem;
   background-color: #376f4e;
}

.menu ul {
    list-style-type: none;
    
    font-size: large;
    
   
}

li {
    float: left;
        display: inline;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
  }
  .menu a {

    color: #808080;
  }


  .interface {
    display: flex;
    flex-wrap: wrap;
    height: 150vh;

    justify-content: center;
    align-content: space-between;


    border: solid black 1px;


  }

  .prod1, .prod2, .prod3, .prod4, .prod5 {
    display: flex;
   
    margin: 5rem 5rem 0rem 5rem;
    height: 15rem;
    width: 15rem;
    border: solid black 1px;


  }